@font-face {
  font-family: 'Avalon-Bold';
  src: url('../fonts/avalon-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@import 'partials/functions';
@import 'partials/variables';
@import 'partials/extendsFunctions';

body {
  color: $text-color;
  background: $body-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  padding: 30px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

img{
  width: 100%;
}




.container{
 @extend %container;
 justify-content: space-between;

 img{
  width: 10vw;
  min-width: 80px;
}

h2{
  font-size: 6vw;
  font-family: 'Avalon-Bold';
  margin: 0;
  line-height: 5vw;

}
.sub-tagline{
  margin: 0;
  font-size: 2.3vw;
  font-weight: bold;
  font-family: 'Avalon-Bold';
}
p{
  font-size: 1rem;
  width: 100%;
  max-width: 800px;
}
}

a.start{
 @extend %btn;
 text-transform: uppercase;
 font-weight: bold;
 animation-name: pulse;
 animation-delay:1.5s;
 animation-duration: 0.9s;
 animation-iteration-count: 2;
 animation-direction: alternate;
 animation-timing-function: linear;

}

a.start:hover{
  @extend %hover;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  
  50% {
    transform: scale3d(1.08, 1.08, 1.08);
  }
  
  to {
    transform: scale3d(1, 1, 1);

  }
}

.ques-container{
  @extend %container;
  justify-content: center;

  .title{
    font-size: 5vw;
    font-family: 'Avalon-Bold';
    margin: 0;
    line-height: 4.5vw;
    margin-bottom: 3%;
  }
  span{
    position: absolute;
    top: 0;
  }
  p{
    font-weight: 600;
    margin-top: 5%;
    text-transform: uppercase;
    cursor: pointer;
  }
}
.q-btn a {
  @extend %btn;
  display: flex;
  flex-direction: column;
  padding: 1.5em 3em;
  margin: 0.4em 0em .5em 0em;
  font-size: 1.2em;
}
.q-btn a:hover {
  @extend %hover;
}

.q-btn2 a {
  @extend %btn;
  padding: 1.5em 3em;
  margin: 0.4em 0em .5em 0em;
  display: inline-block;
  width: 100%;
  max-width: 350px;
  font-size: 1.2em;
}
.q-btn2 a:hover {
  @extend %hover;
}
