// All Extend Function goes Here.
%notification {
  border-radius: 10px;
  display: block;
  font-size: 1.5em;
  font-family: sans-serif;
  padding: 1em 2em;
  margin: 1em auto;
  width: 30%;
  text-align: center;
  cursor: pointer;
}

%item{
  font-size: 1.5em;
  padding: 1em 2em;
  width: 30%;
  text-align: center;

}
