@font-face {
  font-family: 'Avalon-Bold';
  src: url('assets/fonts/avalon-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

//All Variables goes Here
$body-color:#f7f7f7;
$text-color: #2a2b2f;

$base-font-family:'Open Sans', sans-serif;;
$base-font-size: 18px;
$base-font-weight: 300;